.clientImg {
    border-radius: 40px;
    aspect-ratio: 4/5;
}
.personLink {
    text-decoration: none;
}
.personLink:hover .card {
    padding: -8px!important;
    margin: -8px!important;
}

/* .clientCard {

} */

.emailLink {
    margin-top: 30px;
}
.emailImg {
    margin-right: 20px;
}

.btntxt {
    margin:auto;
}

.gigItem {
    border: 1.4px solid rgb(83, 83, 83);
    margin-top: 2px;
    padding-top: 8px;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
}

.clientCardSelect {
    width: 100%;
    border: none;
    padding: 5px 10px 5px 5px!important;
    background-color: aliceblue;
    border-radius: 0px!important;
    color: black;
    z-index: 1;
}

.clientCardSelect:hover {
    background-color: rgb(209, 219, 225);
}

.clients {
    position: absolute;
}

.projectTab {
    text-decoration: none;
    color: black;
}

.projectTabContent {
    margin: 13px 15px 15px 15px;
}

.gigItem:hover {
    background-color: aliceblue;
}