.clientImg {
    border-radius: 40px;
    aspect-ratio: 4/5;
}
.personLink {
    text-decoration: none;
}
.personLink:hover .card {
    padding: -8px!important;
    margin: -8px!important;
}

/* .clientCard {

} */

.emailLink {
    margin-top: 30px;
}
.emailImg {
    margin-right: 20px;
}